.back{
	box-shadow: 0px 0px 4px #00000040;
	background: hsl(120, 90%, 99.25%);
}

/* Labels */
.label-largest{
	font-weight: 600;
}

.label-larger{
	font-weight: 500;	
}

.label-row{
	
}

/* Row */

/* Others */
.btn-reset-pref{
	border: none;
	background: none;

	font-size: large;
	font-weight: 500;
}

.btn-reset-pref:hover{
	background: #00000010;
}