body{
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	min-height: 100vh;

	position: relative;
}

/*  */
.back{
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	user-select: none;
}

.display{
	width: fit-content;
	height: fit-content;
}

/* Buttons */
.floating-btn{
	width: 64px;
	height: 64px;

	position: absolute;
}

#btn-preferences{
	top: 16px;
	right: 16px;
}

#btn-up{
	top: calc(100vh / 4 - 32px);
	left: calc(50vw - 32px);
}

#btn-down{
	bottom: calc(100vh / 4 - 32px);
	left: calc(50vw - 32px);
}