/* Global */
*{
	font-family: "Noto Sans Japanese", "Open Sans";
	color: #5f6368;
}

/* Back and Pages */
.back{
	transition: transform 0.5s ease-out;
	background: hsl(115, 80%, 95%);
}

/* Display Page */
.display{
	text-align: center;
}

.displaymode-0{
	font-size: 25vmin;
}

.displaymode-1{
	font-size: 15vmin;
	overflow-wrap: break-word;
}

.displaymode-2{
	font-size: 15vmin;
}